<div class="flex">
    <a class="boton-regresar" [routerLink]="['/inventario']">←</a>
</div>

<div class="container cd overflow-auto">
    <h2 class="head mb-3">Movimiento</h2>
    <form class="form-book" #formInventory="ngForm" 
        (ngSubmit)=" newInventory(formInventory, selectedInventory.producto, selectedInventory.movimiento)">
        <div class="form-group">
            <label for="fecha">Fecha de movimiento:</label>
            <input class="form-control" type="date" id="fecha" name="fecha" [(ngModel)]="selectedInventory.fecha">
        </div>
        <div class="form-group">
            <label for="producto">Producto</label>
            <select name="producto" id="producto" class="form-control" [(ngModel)]="selectedInventory.producto" (change)="getCantidad(selectedInventory.producto)">
                <option *ngFor="let producto of productos" value="{{producto.id}}">{{producto.nombre}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input type="number" id="cantidad" name="cantidad" min=0 class="form-control" placeholder="Cantidad"
                [(ngModel)]="selectedInventory.cantidad">
        </div>
        <div class="form-group">
            <label for="movimiento">Tipo</label>
            <select name="movimiento" id="movimiento" class="form-control" [(ngModel)]="selectedInventory.movimiento">
                <option value="1">Ingreso</option>
                <option value="0">Egreso</option>
            </select>
        </div>
        <div class="align-items-rigth">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

</div>