<div class="overflow-auto">
  <div class="flex">
    <div class="input-group" style="width: 300px; margin-bottom: 50px;">
      <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
        aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">buscar</button>
    </div>

    <a class="boton-añadir" routerLink='/proveedoradd'>+</a>
  </div>
  
  <div class="container mr-3">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-3" *ngFor="let proveedor of proveedores">
        <div class="card-columns">
          <a routerLink='/proveedor/{{proveedor.id}}' style="text-decoration: none;">
            <div class="card">
              <img class="card-img-top img-fluid" src={{proveedor.imagen}} alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{proveedor.nombre}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>