<h2 class="text-center">Movimientos</h2>
<div class="flex">
    <a class="boton-añadir" href="#">+</a>
</div>
<table class="styled-table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Movimiento</th>
            <th>Cantidad</th>
            <th>Producto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movimiento of movimientos">
            <td>{{movimiento.fecha | date: 'd/M/yy'}}</td>
            <td>{{movimiento.movimiento | uppercase}}</td>
            <td>{{movimiento.cantidad}}</td>
            <td>{{movimiento.producto}}</td>
        </tr>
    </tbody>
</table>