<h2 class="text-center">Movimientos</h2>
<div class="flex">
    <a class="boton-añadir" href="#">+</a>
</div>
<table class="styled-table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Movimiento</th>
            <th>Cantidad</th>
            <th>Producto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </tbody>
</table>