<div class="flex">
  <a class="boton-regresar" [routerLink]="['productos']">←</a>
</div>

<div class="container cd">
  <div class="row">
    <div class="col">
      <h2 class="head mb-5">{{producto.nombre}}</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <div class="container ">
        <img src={{producto.imagen}} alt="producto" class="ig">
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col mb-5">
          <div class="overflow-auto">
            {{producto.descripcion}}
          </div>
        </div>
      </div>
      <div class="row align-items-left">
        <div class="col text-primary">Precio compra</div>
        <div class="col">${{producto.precio}}.00</div>
      </div>
      <div class="row">
        <div class="col text-primary">Precio venta</div>
        <div class="col">precio</div>
      </div>
      <div class="row">
        <div class="col text-primary">Proveedor</div>
        <div class="col">proveedor</div>
      </div>
      <div class="row">
        <div class="col text-primary">Cantidad en inventario</div>
        <div class="col">{{producto.cantidad}}</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <div class="row mt-5">
      <div class="col">
        <a href="#/productos" class="btn btn-danger text-light" (click)="onDelete(producto.id)">Eliminar</a>
      </div>
      <div class="col">
        <a [routerLink] = "['/productoedit', producto.id]" type="button" class="btn btn-primary text-light">Editar</a>
      </div>
    </div>
  </div>
</div>