<div class="flex">
  <div class="input-group" style="width: 300px; margin-bottom: 50px;">
    <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
      aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">buscar</button>
  </div>

  <a class="boton-añadir" href="#">+</a>
</div>

<div class="card ef" style="width: 12rem; border-radius: 1rem; ">
  <img src="../../../../assets/images/logo.png" class="card-img-top" alt="Imagen">
  <div class="card-body"
    style="border-radius: 0rem 0rem 1rem 1rem; background-color: #E2E2E2; ">
    <p class="card-text ">Some quick example .</p>
    <p class="card-text text-primary">Some quick example .</p>
  </div>
</div>